.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .field {
  width: 100%;
}

form {
  width: 100%;
}

.field label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.body-form {
  width: 100%;
  margin-bottom: 15px;
}